.bd-reload {
    cursor: pointer;
    vertical-align: top;
    fill: #dcddde;
}

.bd-reload:hover {
    fill: #fff;
}

.bd-reload-header {
    margin-left: 5px;
}

.bd-reload-card {
    margin-right: 5px;
}

.bd-controls {
    display: flex;
}

.bd-addon-list {
    user-select: text;
}

.bd-addon-list .bd-addon-card {
    max-height: 175px;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    overflow: hidden;
}

.theme-dark .bd-addon-list .bd-addon-card {
    background-color: rgba(32, 34, 37, 0.6);
    color: #f6f6f7;
}

.theme-light .bd-addon-list .bd-addon-card {
    background-color: #f8f9f9;
    color: #4f545c;
}

.bd-addon-list .bd-addon-card.settings-open {
    max-height: 800px;
    overflow-y: auto;
}

.bd-addon-list .bd-addon-header {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.theme-dark .bd-addon-list .bd-addon-header {
    color: #f6f6f7;
}

.theme-light .bd-addon-list .bd-addon-header {
    color: #4f545c;
}

.bd-addon-list .bd-description {
    word-break: break-word;
    max-height: 100px;
    margin: 5px 0;
    padding: 5px 0;
    overflow-y: auto;
    line-height: 1.125em;
}

.theme-dark .bd-addon-list .bd-description {
    color: #b9bbbe;
}

.theme-light .bd-addon-list .bd-description {
    color: #72767d;
}

.bd-addon-list .scroller::-webkit-scrollbar-track-piece,
.bd-addon-list .scroller::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    border-color: transparent;
}

.bd-addon-list .bd-footer {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    border-top: 1px solid transparent;
    overflow: hidden;
}

.theme-dark .bd-addon-list .bd-footer {
    border-top-color: rgba(114, 118, 125, 0.3);
}

.theme-light .bd-addon-list .bd-footer {
    border-top-color: rgba(185, 187, 190, 0.3);
}

.bd-addon-list .bd-footer a {
    color: #3e82e5;
}

.bd-addon-list .bd-footer a:hover {
    text-decoration: underline;
}

.bd-controls > .bd-addon-button {
    border-radius: 0;
}

.bd-links .bd-addon-button + .bd-addon-button {
    margin-left: 10px;
}

.bd-controls > .bd-addon-button svg {
    fill: #fff;
}

.bd-controls > .bd-addon-button:first-of-type {
    border-radius: 5px 0 0 5px;
}

.bd-controls > .bd-addon-button:last-of-type {
    border-radius: 0 5px 5px 0;
}

.bd-addon-list .bd-footer .bd-links,
.bd-addon-list .bd-footer .bd-links a,
.bd-addon-list .bd-footer .bd-addon-button {
    display: flex;
    align-items: center;
}

.bd-addon-list .bd-footer .bd-links .bd-addon-button {
    height: 24px;
}

.bd-controls + .bd-addon-list {
    margin-top: 10px;
}

.bd-links .bd-addon-button svg {
    opacity: 0.7;
}

.bd-links .bd-addon-button:active svg,
.bd-links .bd-addon-button:hover svg {
    opacity: 1;
}

.bd-addon-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bd-addon-controls .bd-search {
    font-size: 13px;
    margin: 0;
    width: 200px;
}

.bd-addon-dropdowns {
    display: flex;
}

/* Error Boundary stuff */
.react-error {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.settings-open .bd-close {
    cursor: pointer;
    float: right;
}

.bd-addon-modal {
    min-height: unset;
}

.bd-addon-modal-settings {
    /* padding: 16px; */
}

.bd-addon-modal-footer .bd-button {
    background-color: #3e82e5;
    color: #fff;
    border-radius: 3px;
    padding: 3px 6px;
    transition: opacity 250ms ease;
}

.bd-addon-modal-footer .bd-button:hover {
    background-color: rgb(56, 117, 206);
}

.bd-addon-modal-footer .bd-button:active {
    background-color: rgb(50, 104, 183);
}