.bd-sidebar-header {
    display: flex;
    justify-content: space-between;
}

.bd-sidebar-header .bd-changelog-button {
    height: 16px;
}

.bd-sidebar-header .bd-icon {
    cursor: pointer;
    fill: var(--interactive-normal);
}

.bd-sidebar-header .bd-icon:hover {
    fill: var(--interactive-hover);
}