/* stylelint-disable no-descending-specificity */

@import "./builtins/*";
@import "./ui/*";
@import "./blankslates/*";
@import "./buttons.css";
@import "./spinner.css";
@import "./search.css";

.bd-chat-badge {
    vertical-align: bottom;
    line-height: 1.375rem;
    display: inline-block;
    height: 1.25rem;
}

.bd-member-badge {
    height: 15px;
    margin-left: 4px;
}

.bd-changelog-modal video,
.bd-changelog-modal img {
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.bd-changelog-modal code.inline {
    padding: 0.2em;
    margin: -0.2em 0;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.125rem;
    white-space: pre-wrap;
    background: var(--background-secondary);
}

.bd-link {
    text-decoration: none;
}

.bd-link:hover {
    text-decoration: underline;
}

.bd-divider {
    width: 100%;
    height: 1px;
    border-top: thin solid var(--background-modifier-accent);
    margin-bottom: 1em;
}