/* stylelint-disable no-descending-specificity */

@import "./builtins/*";
@import "./ui/*";
@import "./blankslates/*";
@import "./buttons.css";
@import "./spinner.css";
@import "./search.css";
@import "./text.css";

.bd-chat-badge {
    vertical-align: bottom;
    line-height: 1.375rem;
    display: inline-block;
    height: 1.25rem;
}

.bd-member-badge {
    height: 15px;
    margin-left: 4px;
}

.bd-link {
    text-decoration: none;
}

.bd-link:hover {
    text-decoration: underline;
}

.bd-divider {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    border-top: thin solid var(--app-border-frame);
}

.bd-settings-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bd-settings-page-title-extend {
    flex: 1 auto;
    justify-content: space-between;
    margin-right: 16px;
}