.bd-search-wrapper {
    padding: 3px;
    border-radius: 3px;
    outline: none;
    border: 0;
    background-color: var(--background-base-lowest);
    color: var(--text-secondary);
    display: flex;
    align-items: center;
}

.bd-search {
    padding: 2px 3px;
    background: none;
    border: 0;
    color: var(--text-default);
    flex: 1;
}

.bd-search::-webkit-input-placeholder {
    color: var(--text-secondary);
}

.bd-search-wrapper > svg {
    margin-right: 2px;
    fill: var(--interactive-normal);
}

.bd-search-wrapper > .bd-button {
    margin-right: 2px;
    background: none;
    padding: 0;
}

.bd-search-wrapper > .bd-button > svg .fill {
    fill: var(--interactive-normal);
}

.bd-search-wrapper > .bd-button:hover > svg .fill {
    fill: var(--interactive-hover);
}