.bd-spinner {
    width: 32px;
    height: 32px;
    position: relative;
}

.bd-cube1,
.bd-cube2 {
    background-color: #3E82E5;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: bd-sk-cubemove 1.8s infinite ease-in-out;
}

.bd-cube2 {
    animation-delay: -0.9s;
}

@keyframes bd-sk-cubemove {
    25% {
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(22px) translateY(22px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }

    75% {
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
    }
}