{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": [
        "react"
    ],
	"env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-undef": "error",
        "semi": "error",
        "space-infix-ops": "error",
        "quotes": ["error", "double", {"allowTemplateLiterals": true}],
        "no-console": "error",
        "no-shadow": ["warn", { "builtinGlobals": false, "hoist": "functions", "allow": [] }],
        "no-redeclare": ["error", { "builtinGlobals": true }],
        "brace-style": ["error", "stroustrup", {"allowSingleLine": true}],
        "keyword-spacing": "error",
        "no-else-return": "error",
        "curly": ["error", "multi-line", "consistent"],
        "dot-notation": "error",
        "yoda": "error",
        "linebreak-style": ["error", "windows"],
        "quote-props": ["error", "consistent-as-needed", {"keywords": true}],
        "object-curly-spacing": ["error", "never", { "objectsInObjects": false }],
        "no-var": "error",
        "prefer-const": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": "off",
        "react/jsx-no-target-blank": "error",
        "react/jsx-key": "off"
    },
    "globals": {
        "webpackJsonp": "readonly",
        "Proxy": "readonly",
        "Set": "readonly",
        "WeakMap": "readonly",
        "Promise": "readonly",
        "ace": "readonly",
        "Reflect": "readonly",
        "DiscordNative": "readonly",
        "__non_webpack_require__": "readonly",
        
        "alert": "off",
        "atob": "off",
        "blur": "off",
        "btoa": "off",
        "caches": "off",
        "close": "off",
        "closed": "off",
        "confirm": "off",
        "crypto": "off",
        "defaultstatus": "off",
        "event": "off",
        "external": "off",
        "fetch": "off",
        "find": "off",
        "focus": "off",
        "frames": "off",
        "history": "off",
        "length": "off",
        "location": "off",
        "locationbar": "off",
        "menubar": "off",
        "name": "off",
        "navigator": "off",
        "open": "off",
        "opener": "off",
        "origin": "off",
        "parent": "off",
        "performance": "off",
        "personalbar": "off",
        "print": "off",
        "prompt": "off",
        "screen": "off",
        "scroll": "off",
        "scrollbars": "off",
        "self": "off",
        "status": "off",
        "statusbar": "off",
        "stop": "off",
        "toolbar": "off",
        "top": "off"
    }
}