.bd-text-normal {
    color: var(--text-default);
}

.bd-text-muted {
    color: var(--text-secondary);
}

.bd-text-error {
    color: var(--red-400);
}

.bd-text-brand {
    color: var(--text-brand);
}

.bd-text-link {
    color: var(--text-link);
}

.bd-header-primary {
    color: var(--header-primary);
}

.bd-header-secondary {
    color: var(--header-secondary);
}

.bd-text-yellow {
    color: var(--text-feedback-warning);
}

.bd-text-green {
    color: var(--text-feedback-positive);
}

.bd-text-red {
    color: var(--status-danger);
}

.bd-text-white {
    color: var(--white-500);
}

.bd-text-10 {
    font-size: 10px;
    line-height: 12px;
}

.bd-text-12 {
    font-size: 12px;
    line-height: 16px;
}

.bd-text-14 {
    font-size: 14px;
    line-height: 18px;
}

.bd-text-16 {
    font-size: 16px;
    line-height: 20px;
}

.bd-text-20 {
    font-size: 20px;
    line-height: 24px;
}

.bd-text-24 {
    font-size: 24px;
    line-height: 30px;
}

.bd-text-32 {
    font-size: 32px;
    line-height: 40px;
}

.bd-text-strong {
    font-weight: 600;
}

.bd-selectable {
    user-select: text;
}