.theme-dark .bd-social-logo path {
  fill: #adadad;
}

.theme-light .bd-social-logo path {
  fill: #b9bbbe;
}

.bd-social-link:hover .bd-social-logo {
  opacity: 1;
}

.bd-social-link:hover .bd-social-logo path:first-of-type {
  fill: var(--bd-brand);
}

.bd-button-title {
  margin-left: 10px;
}

.bd-select-wrapper {
  color: var(--text-default);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.bd-select-wrapper + .bd-select-wrapper {
  margin-left: 10px;
}

.bd-select-wrapper label {
  margin-right: 5px;
}

.bd-select {
  position: relative;
  cursor: pointer;
  color: var(--interactive-text-default);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--input-background-default);
  border: 1px solid var(--input-border-default);
  border-radius: var(--radius-sm);
  padding: 8px 12px;
  transition: 150ms ease border-color;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bd-select.bd-select-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.bd-select.bd-select-transparent {
  align-items: flex-start;
  background: none;
  border: none;
  padding: 0;
}

.bd-select-arrow {
  margin-left: 10px;
  color: var(--interactive-text-default);
}

.bd-select-options {
  position: fixed;
  inset-block-start: anchor(end);
  inset-inline-start: anchor(start);
  background: var(--background-surface-higher);
  font-family: var(--font-primary);
  color: var(--text-default);
  border-radius: var(--radius-sm);
  max-height: 300px;
  min-width: anchor-size(width);
  margin-top: 4px;
  overflow: auto scroll;
  border: 1px solid var(--input-border-default);
}

.bd-select-option {
  padding: 8px 12px;
  cursor: pointer;
  white-space: pre;
}

.bd-select-option:hover {
  background: var(--interactive-background-hover);
  color: var(--interactive-text-hover);
}

.bd-select-option.selected {
  background: var(--interactive-background-selected);
  color: var(--interactive-text-active);
}

.bd-setting-item .bd-select {
  min-width: 200px;
}

.bd-setting-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bd-setting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bd-setting-header label {
  font-weight: 500;
  /* cursor: pointer; */
  overflow: hidden;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-strong);
}

.bd-setting-note {
  color: var(--text-default);
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bd-setting-item:not(.inline) .bd-setting-note {
  margin-bottom: 10px;
}

.bd-divider.bd-setting-divider {
  margin-top: 20px;
}

.bd-settings-container {
  height: auto;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.bd-settings-group.collapsed .bd-settings-container {
  height: 0;
}

.bd-settings-group.expanded .bd-settings-container:not(.animating) {
  overflow: visible;
}

.bd-settings-title {
  display: flex;
  justify-content: space-between;
  color: var(--text-strong, var(--text-default));
  display: flex;
  font-weight: 600;
  cursor: default;
  flex: 1;
}

.bd-settings-title:not(.bd-settings-group-title) {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
}

.bd-settings-group.collapsible .bd-settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.bd-settings-group.collapsible .bd-settings-title::before {
  content: "";
  background-color: var(--app-frame-border);
  height: 2px;
  order: 2;
  flex: 1;
  margin: 0 10px 0 15px;
}

.bd-settings-group.collapsible .bd-settings-title::after {
  content: "";
  -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCAiLz4NCjwvc3ZnPg0K")
    center/contain no-repeat;
  mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCAiLz4NCjwvc3ZnPg0K")
    center/contain no-repeat;
  background: var(--text-default);
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  transition: transform 0.3s ease;
  transform: rotate(0);
  order: 3;
}

.bd-settings-group.collapsed .bd-settings-title::after {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.bd-settings-group ~ .bd-settings-group .bd-settings-title {
  margin-top: 30px;
  transition: margin-top 300ms ease;
}

.bd-settings-group.collapsed + .bd-settings-group .bd-settings-title {
  margin-top: 0;
}

.bd-settings-title.bd-settings-group-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--interactive-text-default);
}

.checkbox-item {
  display: flex;
}

.checkbox-item .checkbox-label {
  margin-right: 8px;
}
