.bd-error-modal-header {
    flex-direction: column;
    align-items: flex-start;
}

.bd-addon-errors {
    margin-top: 16px;
}

.bd-addon-error {
    position: relative;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 16px;
    background: var(--deprecated-card-editable-bg);
    border: 1px solid;
}

.theme-dark .bd-addon-error {
    border-color: var(--background-base-lower);
}

.theme-light .bd-addon-error {
    border-color: var(--background-base-lowest);
}

.bd-addon-error-header {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px 16px;
    cursor: pointer;
    outline: none;
}

.bd-addon-error-header:focus-visible {
    box-shadow: 0 0 0 4px var(--border-focus);
}

.bd-addon-error-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background-color: var(--background-base-lowest);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.bd-addon-error-icon svg {
    color: var(--interactive-text-default);
    width: 24px !important;
    height: 24px !important;
}

.bd-addon-error-expander {
    transform: none;
    color: var(--interactive-text-default);
    transition: transform 0.2s ease;
}

.bd-addon-error[open] .bd-addon-error-expander {
    transform: rotate(90deg);
}

.bd-addon-error-expander,
.bd-addon-error-icon {
    flex: 0 0 auto;
}

.bd-addon-error-header-inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.bd-addon-error-body {
    padding: 0 16px 24px;
}

.bd-addon-error-body .bd-divider {
    margin-bottom: 24px;
}

.bd-addon-error-stack code {
    user-select: text;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--background-base-lowest) var(--background-base-lower);
    background: var(--background-base-lower);
    border: 1px solid var(--background-base-lowest);
}

.bd-addon-error-stack pre {
    position: relative;
}

.bd-addon-error-stack pre [class*="codeActions"] {
    position: absolute;
    display: none;
    right: 4px;
    top: 8px;
    color: var(--text-default);
}

.bd-addon-error-stack pre:hover [class*="codeActions"] {
    display: block;
}

.bd-addon-error-stack pre [class*="codeActions"] > div {
    cursor: pointer;
}

.bd-addon-error-details {
    display: flex;
    flex-grow: 0;
    justify-content: flex-start;
    margin-top: 4px;
}

.bd-addon-error-details-icon {
    margin-right: 4px;
    color: var(--interactive-text-default);
}