@keyframes open-window {
  from {
    transform: scale(0.9);
  }

  to {
    transform: none;
  }
}

.floating-window {
  animation: open-window 200ms ease;
  min-width: 200px;
  min-height: 300px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  -webkit-app-region: no-drag;
  position: fixed;
  z-index: 1002;
  box-sizing: border-box;
}

.floating-window.modal-open {
  z-index: 999;
}

.floating-window.resizable {
  overflow: auto;
  resize: both;
  padding-bottom: 10px;
  background: var(--bd-editor-background, var(--background-base-lowest));
}

.floating-window-titlebar {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: var(
    --background-base-lowest
  ); /* #2F3129background-color: #202225; */
}

.floating-window-content {
  display: flex;
  flex-direction: column;
  background: var(--bd-editor-background, var(--background-base-lower));
  color: #ffffff;
  flex: 1;
  overflow: hidden;
}

.floating-window-titlebar .title {
  /* font-weight: bold; */
  font-size: 0.85em;
  font-weight: 600;
  color: var(--text-default);
  flex: 1;
  padding: 0 8px;
}

.floating-window-buttons {
  display: flex;
}

.floating-window-buttons .button {
  cursor: pointer;
  height: 28px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--interactive-text-default);
}

.floating-window-buttons .button svg,
.floating-window-buttons .button .fill {
  fill: currentColor;
}

.floating-window-buttons .maximize-button:hover {
  background: var(--interactive-background-hover);
}

.floating-window-buttons .maximize-button:active {
  background: var(--interactive-background-active);
}

.floating-window-buttons .close-button:hover {
  background: #f04747;
  color: #ffffff;
}

.floating-window-content #bd-editor-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.editor-wrapper {
  position: relative;
}

.floating-window .editor-wrapper {
  flex: 1;
  overflow: hidden;
}

.floating-window .editor {
  height: auto;
  flex: 1;
}

.floating-window #bd-editor-controls {
  z-index: 10;
  height: auto;
  background: var(--background-base-lower);
  border: none;
  box-shadow: var(--elevation-low);
}

#floating-editor-window {
  min-width: 340px;
  min-height: 280px;
  max-height: 900px;
  max-width: 750px;
}

.floating-addon-window {
  min-width: 535px;
  min-height: 605px;
  max-height: 90%;
  max-width: 90%;
}

.bd-editor-footer {
  color: var(--bd-editor-foreground);
  border-top: 1px solid var(--bd-editor-divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bd-editor-footer-left,
.bd-editor-footer-right {
  display: flex;
}

.bd-editor-footer-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  outline-width: 0;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 22px;
  font-variant-numeric: tabular-nums;
  font-size: 12px;
}

.bd-editor-problems {
  position: absolute;
  overflow: hidden scroll;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--bd-editor-background, var(--background-base-lowest));
  z-index: 5;
}

.bd-editor-problem {
  color: var(--bd-editor-foreground, var(--text-default));
  display: inline-flex;
  gap: 8px;
  padding: 3px 4px 0;
}

.bd-editor-problem.bd-editor-severity-8 svg {
  color: var(--background-feedback-critical);
}

.bd-editor-problem.bd-editor-severity-4 svg {
  color: var(--background-feedback-info);
}

.bd-editor-problem.bd-editor-severity-2 svg,
.bd-editor-problem.bd-editor-severity-1 svg {
  color: var(--background-feedback-info);
}

.bd-editor-problem > :nth-child(2) ~ span {
  opacity: 0.7;
}

.bd-editor-no-problems {
  color: var(--bd-editor-foreground, var(--text-default));
  padding: 4px;
}

.bd-editor-footer-right .codicon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  outline-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  padding: 0 3px;
}
