.bd-keybind-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: var(--radius-sm);
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default);
    padding: 0 4px;
    height: 40px;
    cursor: pointer;
}

.bd-keybind-wrap.bd-keybind-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.bd-keybind-wrap.bd-keybind-disabled .bd-keybind-record,
.bd-keybind-wrap.bd-keybind-disabled .bd-keybind-clear,
.bd-keybind-wrap.bd-keybind-disabled .bd-keybind-input {
    pointer-events: none;
}

.bd-keybind-wrap input {
    flex: 1;
    outline: none;
    border: none;
    pointer-events: none;
    color: var(--text-default);
    background: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.bd-keybind-wrap input::placeholder {
    text-transform: capitalize;
}

.bd-keybind-wrap.recording,
.bd-keybind-wrap:not(.bd-keybind-disabled):hover {
    border-color: hsl(var(--red-400-hsl)/.3);
}

.bd-keybind-wrap.recording {
    box-shadow: 0 0 6px hsl(var(--red-400-hsl)/.3);
}

.bd-keybind-wrap.recording input {
    color: var(--status-danger)
}

.bd-keybind-wrap .bd-keybind-record {
    padding: 3px 8px;
}

.bd-keybind-wrap .bd-keybind-record.bd-button-color-red svg {
    color: var(--interactive-text-active);
}

.bd-keybind-clear {
    margin-left: 5px;
    /* background: none!important; */
    opacity: 0.5;
    padding-right: 4px!important;
}

.bd-keybind-clear:hover {
    /* background: none; */
    opacity: 1;
}

.bd-keybind-clear svg {
    width: 18px !important;
    height: 18px !important;
}

