.bd-keybind-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: hsla(0, calc(var(--saturation-factor, 1)*0%), 0%, .1);
    border: 1px solid hsla(0, calc(var(--saturation-factor, 1)*0%), 0%, .3);
    padding: 0 4px;
    height: 40px;
    cursor: pointer;
}

.bd-keybind-wrap.bd-keybind-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.bd-keybind-wrap.bd-keybind-disabled .bd-keybind-controls {
    pointer-events: none;
}

.bd-keybind-wrap input {
    flex: 1;
    outline: none;
    border: none;
    pointer-events: none;
    color: var(--text-default);
    background: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.bd-keybind-wrap input::placeholder {
    text-transform: capitalize;
}

.bd-keybind-wrap.recording {
    border-color: hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, .3);
}

.bd-keybind-wrap.recording {
    box-shadow: 0 0 6px hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, .3);
}

.bd-keybind-wrap.recording input {
    color: hsl(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%)
}

.bd-keybind-wrap .bd-keybind-record {
    padding: 3px 8px;
}

.bd-keybind-clear {
    margin-left: 5px;
    /* background: none!important; */
    opacity: 0.5;
    padding-right: 4px!important;
}

.bd-keybind-clear:hover {
    /* background: none; */
    opacity: 1;
}

.bd-keybind-clear svg {
    width: 18px !important;
    height: 18px !important;
}