.bd-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bd-sidebar-header h2 {
    padding: 6px 10px;
    box-sizing: border-box;
    color: #96989d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 12px;
}

.bd-sidebar-header .bd-changelog-button {
    height: 16px;
    padding: 0;
}

.bd-sidebar-header .bd-icon {
    cursor: pointer;
    color: var(--interactive-text-default);
}

.bd-sidebar-header .bd-changelog-button:hover .bd-icon {
    color: var(--interactive-text-hover);
}
