#bd-toasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1003;
    position: absolute;
    padding-bottom: 40px;
    gap: 10px;
    inset: 0;
}

.bd-toast {
    --toast-primary: #454C54;
    --toast-stroke: #666666;

    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--toast-primary);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-high);
    color: #E4EEFB;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}

.bd-toast span,
.bd-toast svg {
    padding: 5px;
}

.bd-toast svg {
    width: 20px;
    height: 20px;
    stroke: var(--toast-stroke);
    padding-right: unset;
}

.bd-toast.toast-info {
    --toast-primary: #124287;
    --toast-stroke: var(--bd-brand);
}

.bd-toast.toast-success {
    --toast-primary: #326737;
    --toast-stroke: #53AC5B;
}

.bd-toast.toast-warning {
    --toast-primary: #875712;
    --toast-stroke: #E5A13E;
}

.bd-toast.toast-error {
    --toast-primary: #901D09;
    --toast-stroke: #F35235;
}
