.bd-filled-checkmark {
  background: #43b581;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-right: 4px; /* Align with other icons */
  color: var(--interactive-active);
}

.bd-empty-updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--neutral-1);
  font-weight: 500;
  font-size: 16px;
}

.bd-empty-updates svg {
  color: #43b581;
  margin-bottom: 20px;
}

.bd-button.bd-button-icon svg {
  color: var(--interactive-normal);
}

.bd-button.bd-button-icon:hover svg {
  color: var(--interactive-hover);
}

.bd-button.bd-button-icon.animate {
  animation: 500ms linear infinite bd-update-spin;
}

.bd-button.bd-button-icon.no-animate {
  animation: none !important;
}

.bd-settings-group-title .bd-button-icon {
  margin-left: 3px;
  margin-right: -8px;
}

@keyframes bd-update-spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
