#bd-editor-panel {
    display: flex;
    flex-direction: column;
}

#bd-editor-controls button {
    margin: 0 5px 0 0;
    background: none;
    color: var(--interactive-normal);
    height: 26px;
    font-weight: 600;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

#bd-editor-controls button:hover {
    background: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

#bd-editor-controls button:active {
    background: var(--background-modifier-active);
}

#bd-editor-controls button svg {
    fill: currentColor;
}

#bd-editor-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-secondary-alt);
    color: var(--text-normal);
    border: none;
    box-shadow: var(--elevation-low);
    padding: 5px;
    z-index: 10;
}

.editor-wrapper {
    display: flex;
}

.editor {
    box-sizing: border-box;
    height: calc(100vh - 250px);
    font-size: 14px;
    width: 100%;
}

.controls-section {
    display: flex;
    align-items: center;
}

.controls-section .checkbox-inner {
    width: 14px;
    height: 14px;
}

.controls-section .checkbox-inner .checkbox:checked + span::after {
    left: 2px;
    top: -2px;
}

.controls-section .checkbox-label {
    font-size: 14px;
    font-weight: 500;
}

.monaco-editor:not(.rename-box),
.monaco-editor .overflow-guard,
.monaco-editor .editor-scrollable,
.monaco-editor .minimap-shadow-visible,
.monaco-editor .decorationsOverviewRuler {
    height: 100% !important;
}

.monaco-editor:not(.rename-box),
.monaco-editor .overflow-guard,
.monaco-editor .overlayWidgets,
#bd-customcss-editor > div > .overflow-guard > div:nth-child(3) {
    width: 100% !important;
}

.monaco-editor .minimap {
    right: 14px;
    left: unset !important;
    height: 100% !important;
}

.monaco-editor .editor-scrollable {
    width: calc(100% - 64px) !important;
}

.monaco-editor .view-overlays .current-line {
    width: 1e+06px !important;
}

.bd-fallback-editor {
    height: 100%;
    width: 100%;
    resize: none;
    overflow: auto;
    white-space: nowrap;
}
