.bd-emote-menu {
    min-height: 0;
}

.bd-emote-menu-inner {
    padding: 8px 0 0 16px;
}

.bd-emote-scroller {
    height: 100%;
}

.bd-emote-header {
    display: flex;
    align-items: center;
    background: var(--background-secondary);
    height: 32px;
    padding: 0 4px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.bd-emote-header-inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--header-secondary);
    font-size: 12px;
    font-weight: 600;
    transition: color 0.125s;
    width: fit-content;
}

.bd-emote-header-inner:hover {
    color: var(--header-primary);
}

.bd-emote-header-icon {
    width: 16px;
    height: 16px;
}

.bd-emote-header-icon svg {
    max-height: 100%;
    max-width: 100%;
}

.bd-emote-header-label {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 8px;
}

.bd-emote-collapse-icon svg {
    transition: transform 0.1s;
}

.bd-emote-collapse-icon.collapsed svg {
    transform: rotate(-90deg);
}

.bd-emote-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
}

.bd-emote-item:hover {
    background: var(--background-accent);
}

.bd-emote-item img {
    max-width: 100%;
}