/* Sidebars */

.bd-minimal .sidebar-1tnWFu,
.bd-minimal .members-3WRCEx,
.bd-minimal .membersWrap-3NUR2t,
.bd-minimal .nowPlayingColumn-1eCBCN,
.bd-minimal .bannerImage-ubW8K-,
.bd-minimal .bannerImg-2PzH6z {
    width: 200px;
    min-width: auto;
}

/* User Container */

.bd-minimal .container-YkUktl .noWrap-hBpHBz {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.bd-minimal .container-YkUktl:hover .noWrap-hBpHBz {
    display: flex;
    opacity: 1;
    pointer-events: all;
}

.bd-minimal .container-YkUktl {
    height: 45px;
}

/* Header container heights */

.bd-minimal .container-ZMc96U,
.bd-minimal .header-3OsQeK,
.bd-minimal .searchBar-3TnChZ {
    height: 40px;
}

.bd-minimal .libraryHeader-2loraV::before {
    top: 40px;
}

/* Settings */

.bd-minimal .sidebarRegion-1VBisG {
    flex: 0;
}

.bd-minimal .contentColumn-1C7as6,
.bd-minimal .customColumn-2n-oKU {
    flex-grow: 1;
    max-width: 100%;
}

.bd-minimal .customScroller-m1-jZn > div,
.bd-minimal .sidebarScrollable-2mW9Ls + .content-2ssVKB {
    max-width: unset;
}

.bd-minimal .bd-addon-list .bd-addon-card {
    margin-bottom: 10px;
}

.bd-minimal .bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

/* Friends (https://tropix126.github.io/BetterDiscordStuff/midnight/css/base.css) */

@keyframes slide-out-enable {
    0% {
        pointer-events: none;
    }

    100% {
        pointer-events: all;
    }
}

.bd-minimal .nowPlayingColumn-1eCBCN {
    min-width: unset;
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    transform: translateX(250px);
    background: var(--background-secondary-alt);
    transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
    z-index: 1;
}

.bd-minimal .nowPlayingColumn-1eCBCN::after {
    content: '|||';
    color: var(--header-primary);
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: 250ms ease;
}

.bd-minimal .nowPlayingColumn-1eCBCN:hover::after {
    opacity: 0;
}

.bd-minimal .nowPlayingColumn-1eCBCN:hover {
    transform: none;
}

.bd-minimal .peopleColumn-1wMU14 {
    margin-right: 50px;
}

@media (max-width: 1200px) {
    .bd-minimal .peopleColumn-1wMU14 {
        margin-right: 0;
    }
}

.bd-minimal .nowPlayingColumn-1eCBCN .nowPlayingScroller-12BxFW {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
}

.bd-minimal .nowPlayingColumn-1eCBCN:hover .nowPlayingScroller-12BxFW {
    opacity: 1;
    transform: none;
}

.bd-minimal .nowPlayingColumn-1eCBCN:hover .itemCard-3Etziu {
    animation: slide-out-enable 450ms linear forwards;
}

/* Context menus (status picker) */

.bd-minimal .item-1OdjEX {
    min-height: 18px;
}

.bd-minimal .styleFixed-2_NfVL {
    width: 180px;
}

.bd-minimal .description-3Cwkxk {
    display: none;
}

/* Tooltips */

.bd-minimal .tooltip-14MtrL {
    border-radius: 4px;
}

.bd-minimal .tooltipContent-Nejnvh {
    padding: 4px 8px;
    font-size: 13px;
}

/* Messages */

.bd-minimal .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
    transform: scale(0.75);
    width: 32px;
    height: 32px;
}

.bd-minimal .cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 64px;
}

.bd-minimal .buttons-3dF5Kd {
    transform: scale(0.75);
    transform-origin: right;
}

/* Chat input */

.bd-minimal .form-3gdLxP {
    padding-left: 10px;
    padding-right: 10px;
}

/* Guilds */

.bd-minimal .guilds-2JjMmN {
    width: 55px;
}

.bd-minimal .guilds-2JjMmN .wrapper-z5ab_q {
    height: 35px;
}

.bd-minimal .guilds-2JjMmN .wrapper-z5ab_q span {
    max-height: 20px;
}

.bd-minimal .guilds-2JjMmN div[style*="height: 56px"],
.bd-minimal .guilds-2JjMmN [role=group] {
    height: auto !important;
}

.bd-minimal .guilds-2JjMmN .listItem-3SmSlK,
.bd-minimal .guilds-2JjMmN [class*="unreadMentionsIndicator"],
.bd-minimal .guilds-2JjMmN .wrapper-38slSD {
    width: 100%;
}

.bd-minimal .guilds-2JjMmN .wrapper-28eC3z,
.bd-minimal .guilds-2JjMmN [class*="guildsError-"],
.bd-minimal .guilds-2JjMmN svg[width="48"] {
    width: 35px;
    height: 35px;
}

.bd-minimal .guilds-2JjMmN .wrapper-38slSD > span {
    left: 10px;
    width: 35px;
}

.bd-minimal .guilds-2JjMmN #bd-pub-button {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
}

/* Private channels horizontal icons */

.bd-minimal .channel-1Shao0[href="/channels/@me"],
.bd-minimal .channel-1Shao0[href="/discovery"],
.bd-minimal .channel-1Shao0[href="/library"],
.bd-minimal .channel-1Shao0[href="/store"] {
    width: calc(25% - 8px);
    margin-left: 8px;
    padding: 0;
    display: inline-block;
}

.bd-minimal .channel-1Shao0[href="/channels/@me"] .content-1U25dZ,
.bd-minimal .channel-1Shao0[href="/discovery"] .content-1U25dZ,
.bd-minimal .channel-1Shao0[href="/library"] .content-1U25dZ,
.bd-minimal .channel-1Shao0[href="/store"] .content-1U25dZ,
.bd-minimal .channel-1Shao0[href="/channels/@me"] .children-283-lq,
.bd-minimal .channel-1Shao0[href="/discovery"] .children-283-lq,
.bd-minimal .channel-1Shao0[href="/library"] .children-283-lq,
.bd-minimal .channel-1Shao0[href="/store"] .children-283-lq {
    display: none;
}

.bd-minimal .channel-1Shao0[href="/channels/@me"] .avatar-6qzftW,
.bd-minimal .channel-1Shao0[href="/discovery"] .avatar-6qzftW,
.bd-minimal .channel-1Shao0[href="/library"] .avatar-6qzftW,
.bd-minimal .channel-1Shao0[href="/store"] .avatar-6qzftW {
    margin: 0;
    flex-grow: 1;
}

.bd-minimal .layout-1qmrhw {
    justify-content: center;
}
