@keyframes bd-placeholder-card-pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
    }

    to {
        opacity: 0.6;
    }
}

#bd-pub-li {
    height: 24px;
    overflow: hidden;
}

#bd-pub-button {
    border-radius: 4px;
    background-color: var(--background-primary);
    color: var(--text-normal);
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

#bd-pub-button:hover {
    color: #FFFFFF;
    background-color: #3E82E5;
}

#bd-connection {
    margin-left: 10px;
}

.bd-footnote {
    color: #B9BBBE;
    font-size: 11px;
}

.bd-button-next,
.bd-button-reconnect {
    margin: 5px 10px 10px 0;
    width: 100%;
    min-height: 20px;
}

/* Rewrite */
.bd-server-search {
    margin-bottom: 5px;
}

.bd-card-list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
}

.bd-server-card {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out, opacity 0.2s ease-in;
    cursor: pointer;
    background-color: var(--activity-card-background);
}

.theme-light .bd-server-card {
    box-shadow: 0 0 0 1px rgba(185, 187, 190, 0.3), var(--elevation-medium);
}

.theme-dark .bd-server-card {
    background-color: var(--background-secondary-alt);
}

.bd-server-card:hover,
.bd-server-card:focus,
.theme-light .bd-server-card:hover,
.theme-light .bd-server-card:focus {
    transform: translateY(-1px);
    box-shadow: var(--elevation-high);
}

.theme-dark .bd-server-card:hover,
.theme-dark .bd-server-card:focus {
    background-color: var(--background-tertiary);
}

.bd-placeholder-card {
    background-color: var(--background-secondary-alt);
    animation: bd-placeholder-card-pulse 1.8s ease-in-out infinite;
    height: 320px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.bd-server-header {
    height: 143px;
    position: relative;
    display: block;
    overflow: visible;
    margin-bottom: 32px;
}

.bd-server-splash-container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s, transform 0.2s ease-out;
    transform: scale(1);
    overflow: hidden;
}

.bd-server-card:hover .bd-server-splash-container {
    -webkit-transform: scale(1.01) translateZ(0);
    transform: scale(1.01) translateZ(0);
}

.bd-server-splash {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(20px);
}

.bd-server-icon {
    position: absolute;
    bottom: -21px;
    left: 12px;
    width: 40px;
    background: var(--background-secondary-alt);
    border: 4px solid var(--background-secondary-alt);
    border-radius: 25%;
    transition: background 0.2s ease-out, transform 0.2s ease-out, border-color 0.2s ease-out;
}

.bd-server-card:hover .bd-server-icon {
    border-color: var(--background-tertiary);
    background: var(--background-tertiary);
}

.bd-server-info {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    padding: 0 16px 16px;
    overflow: hidden;
}

.bd-server-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
}

.bd-server-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--header-primary);
    font-size: 16px;
    line-height: 20px;
}

.bd-server-description {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 4px 0 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--header-secondary);
    font-size: 14px;
    line-height: normal;
}

.bd-server-footer {
    display: flex;
    align-items: center;
}

.bd-server-count {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-right: 16px;
}

.bd-server-count-dot {
    background-color: #43B581;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    flex-shrink: 0;
}

.bd-server-count + .bd-server-count .bd-server-count-dot {
    background-color: #B9BBBE;
}

.bd-server-count-text {
    color: var(--header-secondary);
    font-size: 12px;
    line-height: 16px;
}

.bd-server-tag {
    margin-left: 5px;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    text-indent: 0;
    height: 15px;
    padding: 0 4px;
    margin-top: 1px;
    border-radius: 3px;
    background: #3E82E5;
    color: #FFFFFF;
}

.bd-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    color: var(--header-primary);
}

.bd-pagination span {
    font-weight: 600;
}

.bd-pagination button {
    background: none;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--background-tertiary);
    border-radius: 3px;
    padding: 0;
}

.bd-pagination button:hover,
.bd-pagination button:active {
    opacity: 1;
    background: var(--background-accent);
}

.bd-pagination button:active {
    opacity: 1;
    background: var(--background-secondary);
}

.bd-pagination button svg {
    fill: var(--header-primary);
}

.bd-pagination button[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}

.bd-pagination + .bd-settings-title {
    margin-top: 20px;
}