/* stylelint-disable no-descending-specificity */

@import "./builtins/*";
@import "./ui/*";
@import "./blankslates/*";
@import "./buttons.css";
@import "./spinner.css";
@import "./search.css";

.bd-chat-badge {
    vertical-align: bottom;
    line-height: 1.375rem;
    display: inline-block;
    height: 1.25rem;
}

.bd-member-badge {
    height: 15px;
    margin-left: 4px;
}

.bd-changelog-modal {
    width: 650px;
}

.bd-changelog-modal video {
    width: 100%;
    border-radius: 20px;
}

.bd-link {
    text-decoration: none;
}

.bd-link:hover {
    text-decoration: underline;
}