<config>
	<latestversion>1.0</latestversion>
	<resources>
		<resource>
			<name>Node</name>
			<url>https://nodejs.org/dist/v4.2.2/win-x64/node.exe</url>
		</resource>
		<resource>
			<name>asar</name>
			<url>https://github.com/atom/asar/archive/master.zip</url>
		</resource>
		<resource>
			<name>wrench</name>
			<url>https://github.com/ryanmcgrath/wrench-js/archive/master.zip</url>
		</resource>
		<resource>
			<name>BetterDiscord</name>
			<url>https://github.com/Jiiks/BetterDiscordApp/archive/stable.zip</url>
		</resource>
	</resources>
</config>