{
    "presets": [
        "@babel/react",
        ["@babel/env",
        {
            "targets": {
                "node": "14.16.0",
                "chrome": "91"
            }
        }]
    ],
    "plugins": [[
        "module-resolver",
        {
            "alias": {
                "builtins": "./src/builtins/builtins.js",
                "data": "./src/data/data.js",
                "modules": "./src/modules/modules.js",
                "common": "../common"
            }
        }
    ]]
}