.bd-reload {
    cursor: pointer;
    vertical-align: top;
    fill: #DCDDDE;
}

.bd-reload:hover {
    fill: #FFFFFF;
}

.bd-reload-header {
    margin-left: 5px;
}

.bd-reload-card {
    margin-right: 5px;
}

.bd-controls,
.bd-controls-advanced {
    display: flex;
}

.bd-addon-list {
    user-select: text;
}

.bd-addon-list.bd-grid-view {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.bd-addon-list .bd-addon-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--background-secondary);
}

.bd-addon-list.bd-grid-view .bd-addon-card {
    margin-bottom: 0;
}

.bd-addon-list .bd-addon-header {
    color: var(--header-primary);
    background: var(--background-secondary-alt);
    padding: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.bd-addon-header .bd-icon {
    margin-right: 8px;
    fill: var(--header-primary);
}

.bd-title,
.bd-name,
.bd-meta {
    display: inline;
    line-height: normal;
}

.bd-title {
    flex: 1;
    min-width: 0;
}

.bd-meta {
    color: var(--channels-default);
    font-weight: 500;
}

.bd-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bd-name::after,
.bd-version::after {
    display: inline;
    content: " ";
}

.bd-grid-view .bd-title {
    display: flex;
    flex-direction: column;
}

.bd-grid-view .bd-meta {
    font-size: 12px;
}

.bd-description-wrap {
    flex: 1;
    padding: 8px 16px 0 16px;
}

.bd-addon-list .bd-description {
    word-break: break-word;
    margin-bottom: 5px;
    padding: 5px 0;
    overflow-y: auto;
    max-height: 175px;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 3;
    color: var(--header-secondary);
}

.bd-description em {
    font-style: italic;
}

.bd-description code {
    padding: 0.2em;
    margin: -0.2em 0;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.125rem;
    white-space: pre-wrap;
    background: var(--background-tertiary);
}

.bd-addon-list .scroller::-webkit-scrollbar-track-piece,
.bd-addon-list .scroller::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    border-color: transparent;
}

.bd-addon-list .bd-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    overflow: hidden;
}

.bd-controls > .bd-addon-button {
    border-radius: 0;
    padding: 4px 6px;
}

.bd-links .bd-addon-button + .bd-addon-button {
    margin-left: 10px;
}

.bd-controls > .bd-addon-button svg {
    fill: #FFFFFF;
}

.bd-controls > .bd-addon-button:first-of-type {
    border-radius: 3px 0 0 3px;
}

.bd-controls > .bd-addon-button:last-of-type {
    border-radius: 0 3px 3px 0;
}

.bd-controls > .bd-addon-button:only-child {
    border-radius: 3px;
}

.bd-controls + .bd-addon-list {
    margin-top: 10px;
}

.bd-addon-controls {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bd-addon-controls .bd-search {
    font-size: 13px;
    margin: 0;
    width: 200px;
}

.bd-addon-dropdowns {
    display: flex;
}

/* Error Boundary stuff */
.react-error {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.settings-open .bd-close {
    cursor: pointer;
    float: right;
}

.bd-addon-modal {
    min-height: unset;
}

.bd-addon-modal-settings {
    /* padding: 16px; */
    padding: 0 16px 16px 16px;
}

.bd-addon-modal-footer .bd-button {
    background-color: #3E82E5;
}

.bd-addon-modal-footer .bd-button:hover {
    background-color: rgb(56, 117, 206);
}

.bd-addon-modal-footer .bd-button:active {
    background-color: rgb(50, 104, 183);
}

.bd-addon-views {
    display: flex;
    margin-left: 10px;
}

.bd-addon-views .bd-view-button {
    background-color: transparent;
    padding: 3px 4px;
}

.bd-addon-views .bd-view-button svg {
    fill: var(--interactive-normal);
}

.bd-addon-views .bd-view-button.selected svg {
    fill: #FFFFFF;
}

.bd-addon-views .bd-view-button:hover {
    background-color: var(--background-modifier-selected);
}

.bd-addon-views .bd-view-button:active {
    background-color: var(--background-modifier-accent);
}

.bd-addon-views .bd-view-button.selected {
    background-color: #3E82E5;
}

.bd-addon-views .bd-view-button + .bd-view-button {
    margin-left: 5px;
}

.bd-addon-list .bd-footer .bd-links,
.bd-addon-list .bd-footer .bd-links a,
.bd-addon-list .bd-footer .bd-addon-button {
    display: flex;
    align-items: center;
}

.bd-addon-list .bd-footer .bd-link {
    color: var(--interactive-normal);
}

.bd-addon-list .bd-footer .bd-link:hover {
    color: var(--interactive-hover);
}

.bd-addon-list .bd-footer .bd-link:active {
    color: var(--interactive-active);
}

.bd-addon-list .bd-footer .bd-link svg {
    fill: currentColor;
}

.bd-addon-list .bd-footer .bd-links .bd-addon-button {
    height: 24px;
}