.bd-addon-store-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-color: var(--background-base-lowest);
    max-width: 320px;
    min-height: 320px;
}

.theme-dark .bd-addon-store-card {
    background-color: var(--background-base-lowest);
}

.theme-dark .bd-addon-store-card:hover,
.theme-dark .bd-addon-store-card:hover .bd-addon-store-card-author-mask {
    background-color: var(--app-background-frame);
}

.full-motion .bd-addon-store-card {
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out, opacity 0.2s ease-in;
}

.full-motion .bd-addon-store-card:hover {
    transform: translateY(-1px);
    box-shadow: var(--elevation-high);
}

.bd-addon-store-card-author {
    position: absolute;
    bottom: -21px;
    left: 12px;
}

.bd-addon-store-card-author-mask {
    padding: 4px;
    background-color: var(--background-base-lower);
}

.theme-dark .bd-addon-store-card-author-mask {
    background-color: var(--background-base-lower);
}

.full-motion .bd-addon-store-card-author-mask {
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out;
}

.bd-addon-store-card-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.bd-addon-store-card-actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.bd-addon-store-card-spacer {
    flex: 1 1 auto;
}

.bd-addon-store-card-downloads,
.bd-addon-store-card-likes {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 0;
    color: var(--header-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 400;
}

.bd-addon-store-card-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    background-color: var(--green-360);
}

.bd-addon-store-card-downloads .bd-addon-store-card-dot {
    background-color: var(--primary-300);
}

.bd-addon-store-card-author-svg {
    contain: paint;
}

.bd-addon-store-card-author-img {
    width: 100%;
    height: 100%;
}

.bd-addon-store-card-splash {
    height: 143px;
    position: relative;
    display: block;
    overflow: visible;
    margin-bottom: 32px;
}

.bd-addon-store-card-preview {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bd-addon-store-card-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bd-addon-store-card-body {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding: 0 16px 16px;
    overflow: hidden;
}

.bd-addon-store-card-name {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--header-primary);
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 1.25;
    gap: 4px;
}

.bd-addon-store-card-description {
    color: var(--header-secondary);
    overflow: hidden;
    margin: 4px 0 8px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400;
    user-select: text;
}

.bd-addon-store-card-tags {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    gap: 4px;
}

.bd-addon-store-card-tag {
    color: var(--interactive-normal);
    background: var(--background-base-lowest);
    border: 1px solid var(--background-base-lower);
    padding: 2px 5px;
    border-radius: 8px;
    transition: border-color 200ms linear, color 200ms linear;
    cursor: pointer;
}

.bd-addon-store-card-tag:hover {
    color: var(--interactive-hover)
}

.bd-addon-store-card-tag-selected,
.bd-addon-store-card-tag:hover:active {
    border-color: var(--brand-500);
    color: var(--interactive-active);
}

button.bd-addon-store-card-button {
    color: var(--interactive-normal);
}

.bd-addon-store-card-button:hover {
    color: var(--interactive-hover);
}

.bd-addon-store-card-button:hover:active {
    color: var(--interactive-active);
}

.bd-addon-store-card-badge {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    color: var(--white);
    background: var(--red-400);
    text-align: center;
    flex: 0 0 auto;
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.bd-addon-store {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px clamp(8px, 2vw, 20px);
    margin: 10px 0;
}

.bd-addon-store-warning {
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    padding: 6px;
    border-radius: 6px;
    color: var(--info-warning-text);
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 10px;
  }

.bd-addon-store-card-loading {
    padding: 4px;
    border-radius: 50%;
    background-color: var(--background-base-lower);
}

/* .theme-dark .bd-addon-store-card {
    background-color: var(--background-base-lower);
} 
DUPLICATE?    
*/ 

img:where(.bd-addon-store-card-preview-img, .bd-install-modal-preview-img)[src="https://betterdiscord.app/resources/ui/content_thumbnail.svg"] {
    object-fit: contain;
}

.bd-addon-store-card:last-child:nth-child(odd):not(.bd-addon-store-card-embed) {
    margin-left: calc(50% + 10px);
}

.bd-addon-title {
    display: flex;
    align-items: center;
}

.bd-addon-title[data-showing-store="true"] > span:first-child {
    cursor: pointer;
}

.bd-addon-title[data-showing-store="true"] > span:first-child:hover {
    background: var(--background-modifier-hover);
}

.bd-addon-title > span {
    padding: 2px 4px;
    border-radius: 3px;
}

.bd-flower-star {
    color: var(--green-360);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bd-flower-star-checkmark {
    color: var(--white-500);
    position: absolute;
}