.theme-dark .bd-social-logo path {
    fill: #ADADAD;
}

.theme-light .bd-social-logo path {
    fill: #B9BBBE;
}

.bd-social-link:hover .bd-social-logo {
    opacity: 1;
}

.bd-social-link:hover .bd-social-logo path:first-of-type {
    fill: #3E82E5;
}

.bd-button-title {
    margin-left: 10px;
}

.bd-select-wrapper {
    color: var(--text-muted);
    font-size: 13px;
    display: flex;
    align-items: center;
}

.bd-select-wrapper + .bd-select-wrapper {
    margin-left: 10px;
}

.bd-select-wrapper label {
    margin-right: 5px;
}

.bd-select {
    position: relative;
    cursor: pointer;
    color: var(--text-normal);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--deprecated-text-input-bg);
    border: 1px solid var(--deprecated-text-input-border);
    border-radius: 3px;
    padding: 5px 5px 5px 0;
    transition: 150ms ease border-color;
}

.bd-select:hover,
.bd-select.menu-open {
    border-color: var(--background-tertiary);
}

.bd-select.bd-select-transparent {
    align-items: flex-start;
    background: none;
    border: none;
    padding: 0;
}

.bd-select-value {
    padding-left: 8px;
}

.bd-select-arrow {
    margin-left: 10px;
    fill: var(--interactive-normal);
}

.bd-select .bd-select-options {
    position: absolute;
    background: var(--background-secondary);
    border-radius: 0 0 3px 3px;
    max-height: 300px;
    min-width: calc(100% + 2px);
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    margin-top: -1px;
    margin-left: -1px;
    z-index: 2;
    top: 100%;
}

.bd-select-transparent .bd-select-options {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 3px;
    border-radius: 3px;
}

.bd-select .bd-select-option {
    padding: 8px 12px;
    cursor: pointer;
    white-space: pre;
}

.bd-select .bd-select-option:hover {
    background: rgba(0, 0, 0, 0.1);
}

.bd-select .bd-select-option.selected {
    background: rgba(0, 0, 0, 0.2);
}

.bd-setting-item .bd-select {
    min-width: 200px;
}

.bd-setting-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.bd-setting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bd-setting-header label {
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 24px;
    color: var(--header-primary);
}

.bd-setting-note {
    color: var(--header-secondary);
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd-setting-divider {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    border-bottom: thin solid var(--background-modifier-accent);
}

.bd-settings-container {
    height: auto;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.bd-settings-group.collapsed .bd-settings-container {
    height: 0;
}

.bd-settings-group.expanded .bd-settings-container:not(.animating) {
    overflow: visible;
}

.bd-settings-title {
    color: #FFFFFF;
    font-weight: 600;
    cursor: default;
    flex: 1;
}

.bd-settings-title:not(.bd-settings-group-title) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
}

.bd-settings-group.collapsible .bd-settings-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
}

.bd-settings-group.collapsible .bd-settings-title::before {
    content: "";
    background-color: var(--background-modifier-accent);
    height: 2px;
    order: 2;
    flex: 1;
    margin: 0 10px 0 15px;
}

.bd-settings-group.collapsible .bd-settings-title::after {
    content: "";
    -webkit-mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCAiLz4NCjwvc3ZnPg0K') center/contain no-repeat;
    mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSItOTUwIDUzMiAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtOTUwIDUzMiAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjEuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTS05MzIsNTMydjE4aC0xOHYtMThILTkzMnoiLz4NCjxwb2x5bGluZSBjbGFzcz0ic3QxIiBwb2ludHM9Ii05MzYuNiw1MzguOCAtOTQxLDU0My4yIC05NDUuNCw1MzguOCAiLz4NCjwvc3ZnPg0K') center/contain no-repeat;
    background: var(--header-secondary);
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: bottom;
    transition: transform 0.3s ease;
    transform: rotate(0);
    order: 3;
}

.bd-settings-group.collapsed .bd-settings-title::after {
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.bd-settings-group ~ .bd-settings-group .bd-settings-title {
    margin-top: 30px;
    transition: margin-top 300ms ease;
}

.bd-settings-group.collapsed + .bd-settings-group .bd-settings-title {
    margin-top: 0;
}

.bd-settings-title.bd-settings-group-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--interactive-normal);
}

.checkbox-item {
    display: flex;
}

.checkbox-item .checkbox-label {
    margin-right: 8px;
}