.bd-changelog-modal iframe,
.bd-changelog-modal video,
.bd-changelog-modal img {
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.bd-changelog-modal code {
    padding: 0 0.2em;
    margin: -0.2em 0;
    border-radius: 4px;
    font-size: 85%;
    border: 1px solid var(--background-base-lowest);
    line-height: 1.125rem;
    white-space: pre-wrap;
    background: var(--background-base-lower);
    border: 1px solid var(--background-base-lowest);
}

.bd-changelog-modal .bd-modal-content {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
}

.bd-changelog-modal .bd-modal-content .emoji {
    object-fit: contain;
    width: 22px;
    height: 22px;
}

.bd-changelog-modal .bd-modal-content h1 {
    line-height: 20px;
    font-size: 16px;
}

.bd-changelog-modal .bd-modal-content h1,
.bd-changelog-modal .bd-modal-content h2,
.bd-changelog-modal .bd-modal-content strong {
    font-weight: 700;
}

.bd-changelog-modal .bd-modal-content em,
.bd-changelog-modal .bd-modal-content i {
    font-style: italic;
}

.bd-changelog-modal .bd-modal-content p + p {
    margin-top: 10px;
}

.bd-changelog-modal .bd-modal-content ol {
    margin: 16px 0 16px 16px;
}

.bd-changelog-modal .bd-modal-content ol li {
    list-style-type: decimal;
    margin-bottom: 8px;
    margin-left: 20px;
}

.bd-changelog-modal .bd-modal-content ul {
    margin: 20px 0 8px 20px;
}

.bd-changelog-modal .bd-modal-content ul ul {
    margin-top: 8px;
}

.bd-changelog-modal .bd-modal-content ul li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    user-select: text;
}

.bd-changelog-modal .bd-modal-content ul li:last-child {
    margin-bottom: 0;
}

.bd-changelog-modal .bd-modal-content ul li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    margin-left: -3px;
    border-radius: 50%;
    opacity: 0.3;
}

.bd-changelog-modal .bd-modal-content ul li li::before {
    top: 12px;
    height: 2px;
    border-radius: 0;
}

.bd-changelog-modal .bd-modal-content img,
.bd-changelog-modal .bd-modal-content video,
.bd-changelog-modal .bd-modal-content iframe {
    width: 100%;
}

.bd-changelog-modal .bd-modal-content iframe {
    height: 346px;
}

.bd-changelog-modal .bd-modal-content a {
    color: hsl(200, calc(var(--saturation-factor, 1) * 100%), 49.4%);
    transition: 0.05s;
    text-decoration: none;
}

.bd-changelog-modal .bd-modal-content a:hover {
    text-decoration: underline;
}

.theme-dark .bd-changelog-modal .bd-modal-content ol,
.theme-dark .bd-changelog-modal .bd-modal-content p,
.theme-dark .bd-changelog-modal .bd-modal-content ul li {
    color: hsl(210, calc(var(--saturation-factor, 1) * 9.3%), 78.8%);
}

.theme-dark .bd-changelog-modal .bd-modal-content ul li::before {
    background-color: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
}

.theme-light .bd-changelog-modal .bd-modal-content ol,
.theme-light .bd-changelog-modal .bd-modal-content p,
.theme-light .bd-changelog-modal .bd-modal-content ul li {
    color: hsl(223, calc(var(--saturation-factor, 1) * 5.8%), 52.9%);
}

.theme-light .bd-changelog-modal .bd-modal-content ul li::before {
    background-color: hsl(223, calc(var(--saturation-factor, 1) * 5.8%), 52.9%);
}

.bd-changelog-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.bd-changelog-title {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.bd-changelog-title.bd-changelog-first {
    margin-top: 20px;
}

.bd-changelog-title::after {
    content: "";
    height: 1px;
    flex: 1 1 auto;
    margin-left: 4px;
    opacity: .6;
}

.bd-changelog-added {
    color: var(--text-feedback-positive);
}

.bd-changelog-added::after {
    background-color: var(--info-positive-foreground);
}

.bd-changelog-fixed {
    color: hsl(359, calc(var(--saturation-factor, 1)*87.3%), 59.8%);
}

.bd-changelog-fixed::after {
    background-color: hsl(359, calc(var(--saturation-factor, 1)*87.3%), 59.8%);
}

.bd-changelog-progress {
    color: var(--text-feedback-warning);
}

.bd-changelog-progress::after {
    background-color: var(--info-warning-foreground);
}

.bd-changelog-improved {
    color: hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
}

.bd-changelog-improved::after {
    background-color: hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
}

.theme-dark .bd-changelog-improved {
    color: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
}

.theme-dark .bd-changelog-improved::after {
    background-color: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
}

.theme-dark .bd-changelog-modal iframe,
.theme-dark .bd-changelog-modal video,
.theme-dark .bd-changelog-modal img {
    box-shadow: 0 2px 10px 0 hsl(var(0, calc(var(--saturation-factor, 1)*0%), 0%-hsl)/.2);
}

.theme-light .bd-changelog-modal iframe,
.theme-light .bd-changelog-modal video,
.theme-light .bd-changelog-modal img {
    box-shadow: 0 2px 10px 0 hsl(var(0, calc(var(--saturation-factor, 1)*0%), 0%-hsl)/.1);
}

/* .socialLink-1qjJIk {
    margin-right: 16px;
}

.theme-light .socialLink-1qjJIk {
    color: hsl(228, calc(var(--saturation-factor, 1)*6%), 32.5%);
}

.theme-dark .socialLink-1qjJIk {
    color: hsl(210, calc(var(--saturation-factor, 1)*9.3%), 78.8%);
} */

.bd-social {
    opacity: 0.7;
    transition: 0.17s ease opacity;
}

.bd-social:hover {
    opacity: 1;
}

.bd-changelog-modal .bd-social:not(:first-child) {
    margin-left: 10px;
}