.bd-addon-error-tabbar-item {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
}

.bd-addon-error {
    position: relative;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 16px;
    background: var(--deprecated-card-editable-bg);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid;
}

.theme-dark .bd-addon-error {
    border-color: var(--background-secondary-alt);
}

.theme-light .bd-addon-error {
    border-color: var(--background-tertiary);
}

.bd-addon-error.expanded .bd-addon-error-header {
    padding-bottom: 20px;
}

.bd-addon-error-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background-color: var(--background-floating);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.bd-addon-error-icon svg {
    fill: var(--interactive-normal);
    width: 24px !important;
    height: 24px !important;
}

.bd-addon-error-tabbar-item:first-of-type {
    margin-left: 0;
}

.bd-addon-error-content {
    padding-top: 16px;
    padding-bottom: 0;
}

.bd-addon-error-stack pre {
    margin: 0;
    max-width: unset;
}
