.bd-keybind-wrap {
    position: relative;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: hsla(0, calc(var(--saturation-factor, 1)*0%), 0%, .1);
    border: 1px solid hsla(0, calc(var(--saturation-factor, 1)*0%), 0%, .3);
    padding: 10px;
    height: 40px;
    cursor: pointer;
}

.bd-keybind-wrap input {
    outline: none;
    border: none;
    pointer-events: none;
    color: var(--text-normal);
    background: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.bd-keybind-wrap.recording {
    border-color: hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, .3);
}

.bd-keybind-wrap.recording {
    box-shadow: 0 0 6px hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, .3);
}

.bd-keybind-controls {
    position: absolute;
    right: 5px;
    top: 3px;
    display: flex;
    align-items: center;
}

.bd-keybind-clear {
    background: none!important;
    opacity: 0.5;
    padding-right: 4px!important;
}

.bd-keybind-clear:hover {
    background: none;
    opacity: 1;
}

.bd-keybind-clear svg {
    width: 18px !important;
    height: 18px !important;
}