.bd-text-input {
    min-width: 250px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 3px;
    color: var(--text-normal);
    background-color: var(--input-background);
    border: none;
    padding: 10px;
    height: 40px;
  }